<div class="bg-primary header" >
        <div class="logo" >
        <img src="/assets/img/image copy.png" class="image" alt="">
        </div>
        <div class="header-right">
            <div
            class="d-flex align-items-center gap-2"
            (mouseenter)="hovered = true"
            (mouseleave)="hovered = false"
            >
                <div
                (click)="logOut()"
                class="btn btn-sm d-flex align-items-center gap-2 px-3 py-1 rounded border-0 shadow-sm"
                [ngClass]="hovered ? 'text-danger bg-light' : 'text-primary bg-light'"
                style="transition: all 0.2s ease;"
                >
                <i class="bi bi-box-arrow-right" [ngClass]="hovered ? 'text-danger' : 'text-primary'"></i>
                
            </div>
            </div>


            <div class="user-info ">
            <div class=" user-name text-light small">
                {{user}}
                <span class="user-role text-warning fw-semibold" style="text-align: right; ">{{stat}}</span>
            </div>
              <div class="user-avatar" >
                <img src="assets/img/avatar.png" alt="Avatar utilisateur" class="avatar-img" />
              </div>
            </div>

        </div>
    </div>
    <!-- Navigation -->
    <div class="nav">
        <div class="nav-items" >
            <div class="nav-item-wrapper" [class.active]="activeLink === 'accueil'" (click)="setActive('accueil')">
                <a routerLink="/chercheur/accueil" class="nav-item">Chercheur Accueil</a>
            </div>
            <div class="nav-item-wrapper" [class.active]="activeLink === 'sources'" (click)="setActive('sources')" >
                <a routerLink="/chercheur/sources" class="nav-item">Comparer Sources</a>
            </div>
            <div class="nav-item-wrapper" [class.active]="activeLink === 'analyse'" (click)="setActive('analyse')">
                <a routerLink="/chercheur/analyse" class="nav-item">Analyse Approfondie</a>
            </div>
            <div class="nav-item-wrapper" [class.active]="activeLink === 'rapport'" (click)="setActive('rapport')">
                <a routerLink="/chercheur/rapport" class="nav-item">Rédiger un rapport</a>
            </div>
            <div class="nav-item-wrapper" [class.active]="activeLink === 'prevision'" (click)="setActive('prevision')">
                <a routerLink="/chercheur/prevision" class="nav-item">Prévision</a>
            </div>
        </div>
    </div>