<div class="bg-primary header" >
        <div class="logo" >
        <img src="/assets/img/image copy.png" class="image" alt="">
        </div>
        <div class="header-right">
            <div
            class="d-flex align-items-center gap-2"
            (mouseenter)="hovered = true"
            (mouseleave)="hovered = false"
            >
            <div class="btn-group bg-light rounded-lg p-1" role="group">
                <button
                (click)="logOut()"
                class="btn btn-sm d-flex align-items-center gap-2 px-3 py-1 rounded border-0 shadow-sm"
                [ngClass]="hovered ? 'text-danger bg-bg-light' : 'text-primary bg-light'"
                style="transition: all 0.2s ease;"
                >
                <i class="bi bi-box-arrow-right" [ngClass]="hovered ? 'text-danger' : 'text-primary'"></i>
                <span class="small fw-medium" [ngClass]="hovered ? 'text-danger' : 'text-primary'">
                    Déconnexion
                </span>
                </button>
            </div>
            </div>


            <div class="user-info ">
            <div class=" user-name text-light small">
                {{user}}
                <span class="user-role text-warning fw-semibold" style="text-align: right; ">{{stat}}</span>
            </div>
              <div class="user-avatar" >
                <img src="assets/img/avatar.png" alt="Avatar utilisateur" class="avatar-img" />
              </div>
            </div>

        </div>
    </div>
    <!-- Navigation -->
    <div class="nav">
        <div class="nav-items">
            <div class="nav-item-wrapper" [class.active]="activeLink === 'accueil'" (click)="setActive('accueil')">
                <a routerLink="/admin/accueil" class="nav-item">Vue d'ensemble</a>
            </div>
            <div class="nav-item-wrapper" [class.active]="activeLink === 'user'" (click)="setActive('user')">
                <a routerLink="/admin/user" class="nav-item">Gestion des utilisateurs</a>
            </div>
            <div class="nav-item-wrapper" [class.active]="activeLink === 'activite'" (click)="setActive('activite')">
                <a routerLink="/admin/activite" class="nav-item">Journal d'activité</a>
            </div>
        </div>
    </div>
