<!-- Start Footer Section -->
    <footer class="cs_footer cs_style_1 cs_heading_bg cs_bg_filed" data-src="">
     
      <div class="container cs_white_color">
        <div class="cs_footer_row">
          <div class="cs_footer_col">
            <div class="cs_footer_widget">
              <div class="cs_footer_text_widget">
                <i class="fas fa-home" style="font-size: 2rem;margin-right: 8px; color: rgb(123, 179, 123);"></i>
                <br><br>
                <p>Nous sommes à votre écoute pour toute demande d'information, collaboration ou assistance technique</p>
              </div>
              <div class="cs_social_btns cs_style_1">
                <a href="#" class="cs_center">
                  <i class="fa-brands fa-linkedin-in"></i>
                </a>
                <a href="#" class="cs_center">
                  <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="#" class="cs_center">
                  <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="#" class="cs_center">
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="cs_footer_col">
            <div class="cs_footer_widget">
              <h2 class="cs_footer_widget_title cs_fs_21 cs_white_color cs_semibold cs_mb_32">Liens utiles</h2>
              <ul class="cs_footer_widget_menu">
                <li><a href="/accueil">Accueil</a></li>
                <li><a href="/accueil">Services</a></li>
                <li><a href="/accueil">À propos</a></li>
                <li><a href="/accueil">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="cs_footer_col">
            <div class="cs_footer_widget">
              <h2 class="cs_footer_widget_title cs_fs_21 cs_white_color cs_semibold cs_mb_32">Services</h2>
              <ul class="cs_footer_widget_menu">
                <li><a href="service-details.html">Intégration de Données</a></li>
                <li><a href="service-details.html">Analyse et Visualisation Intelligente</a></li>
                <li><a href="service-details.html">Prédictions Climatique</a></li>
             </ul>
            </div>
          </div>
          <div class="cs_footer_col">
            <div class="cs_footer_widget">
              <h2 class="cs_footer_widget_title cs_fs_21 cs_white_color cs_semibold cs_mb_32">Contact</h2>
              <ul class="cs_footer_widget_menu">
              <li>Médina Fall rue 22 , Thiès, Sénégal</li>
                <li><a href="tel:+221772265039">+221 77 226 50 39</a></li>
                <li><a href="../cdn-cgi/l/email-protection.html#dfb6b1b9b0bbbaacb49fbabcb0a5b0b1baf1bcb0b2"><span class="__cf_email__" data-cfemail="a9c0c7cfc6cdccdac2e9cccac6d3c6c7cc87cac6c4">[email&#160;protected]</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="cs_footer_bottom cs_white_color">
        <div class="container">
          <div class="cs_footer_bottom_in">
            <p class="cs_copyright mb-0" >Tous droits réservés Copyright © 2025 <a href="#" style="color: #7bb37b;">Jp Mark Tine</a></p>
            <ul class="cs_footer_widget_menu">
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer Section -->