<div class="d-flex justify-content-center align-items-center vh-100 bg-white" *ngIf="loading">
  <div class="spinner-border" role="status" style="width: 4rem; height: 4rem; color: #3b82f6;">
  </div>
</div>
<!-- End Preloader -->
<div class="row">
    <app-header></app-header>
</div>
  
<div class="row " >
<!-- Start Hero Section -->
    <section class="cs_hero cs_style_1 cs_heading_bg cs_center cs_bg_filed" data-src="assets/img/nuage_ciel.jpg">
      <div class="container">
         <div class="cs_hero_thumb wow fadeIn" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="cs_hero_thumb_left "> <img src="assets/img/globe.png" width="500" height="500" alt=""></div>
          
          
        </div>
        <div class="cs_hero_thumb wow fadeIn" data-wow-duration="1s" data-wow-delay="0.25s">
        </div>
        <div  class="cs_slider cs_style_1 cs_slider_gap_24 wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.25s" style="margin-top: 10px;">
          <div class="cs_slider_container" data-autoplay="1"  data-autoplay-timeout="10000" data-loop="1" data-speed="800" data-center="0" data-variable-width="0" data-slides-per-view="1">
            <div class="cs_slider_wrapper">
              <div class="cs_slide">
                <div class="cs_hero_text">
                  <h1 class="cs_hero_title cs_fs_70 cs_white_color cs_mb_30  text-secondary">De petites analyses pour de grands impacts climatiques</h1>
                  <p class="cs_hero_subtitle cs_white_color cs_mb_37 text-secondary" style="text-align: justify;">Notre plateforme centralise et analyse des données climatiques telles que la température, l’humidité, la pression et les précipitations. Elle offre des outils pour explorer les tendances, générer des indicateurs fiables et appuyer la prise de décision dans divers domaines liés au climat</p>
                </div>
              </div>
              <div class="cs_slide">
                <div class="cs_hero_text">
                    <h1 class="cs_hero_title cs_fs_70 cs_white_color cs_mb_30 text-secondary">Comprendre le climat, agir pour l’avenir</h1>
                  <p class="cs_hero_subtitle cs_white_color cs_mb_37 text-secondary" style="text-align: justify;">Notre plateforme centralise et analyse des données climatiques telles que la température, l’humidité, la pression et les précipitations. Elle offre des outils pour explorer les tendances, générer des indicateurs fiables et appuyer la prise de décision dans divers domaines liés au climat</p>
                 
                </div>
              </div>
              <div class="cs_slide">
                <div class="cs_hero_text">
                    <h1 class="cs_hero_title cs_fs_70 cs_white_color cs_mb_30 text-secondary">Chaque donnée compte pour protéger notre planète</h1>
                  <p class="cs_hero_subtitle cs_white_color cs_mb_37 text-secondary" style="text-align: justify;">Notre plateforme centralise et analyse des données climatiques telles que la température, l’humidité, la pression et les précipitations. Elle offre des outils pour explorer les tendances, générer des indicateurs fiables et appuyer la prise de décision dans divers domaines liés au climat</p>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="cs_pagination cs_style_1"></div>
        </div>
      </div>
    </section>
    